@use "../utilities/extend";


.formBoton {
    button {
      @extend %button;
      margin: 10px 5px;
      transition: transform 0.2s ease, background-color 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

