@use "../utilities/mixins";
@use "../utilities/variables" as v;


.infoContacto {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;

  h1 {
    font-weight: v.$fontBold;
  }

  .infoPersonal {
       @include mixins.flex-column(column);
    width: 51rem;
    max-width: 100%;
 

  }

  img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
  }

  .redesSociales {
    ul {
      display: flex;

      li {
        list-style: none;
        margin: 0 10px;

        a {
          position: relative;
          display: block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: v.$whiteColor;
          text-align: center;
          transition: 0.5s;
          transform: translate(0, 0px);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);

          .fa {
            color: v.$blackColor;
            font-size: 25px;
            line-height: 50px;
            transition: .5s;

            &:hover {
              color: v.$whiteColor;
            }
          }

          &:hover {
            transform: rotate(0deg) skew(0deg) translate(0, -10px);
          }
        }

        &:nth-child(1) a:hover {
          background-color: #ec13b6;
        }

        &:nth-child(2) a:hover {
          background-color: #e4405f;
        }

        &:nth-child(3) a:hover {
          background-color: #55acee;
        }
      }
    }
  }
}

.sectionFormulario {
  height: 90dvh;
  display: flex;
  width: 100%;
  max-width: 60rem;
  align-items: center;
  margin: 0 auto;

  h2 {
    font-weight: v.$fontBold;
  }

  label {
    padding: 5px 0px;
  }

  textarea,
  input {
    background-image: none;
    border: 1px solid #ccc;
    outline: none;
    transition: box-shadow 0.3s ease;

    &:focus {
      box-shadow: 0 0 4px 2px rgb(3, 42, 58);
    }
  }

  .formNombreCompleto {
    display: flex;
    gap: 1rem;

    input {
      width: 25rem;
      max-width: 100%;
      height: 40px;
    }
  }

  .formNombre,
  .formApellido {
       @include mixins.flex-column(column);
  }

  .formEmail {
        @include mixins.flex-column(column);
    padding-top: 15px;

    input {
      width: 51rem;
      max-width: 100%;
      height: 40px;
    }
  }

  .formMensaje {
    @include mixins.flex-column(column);
    padding-top: 15px;

    textarea {
      max-width: 51rem;
      height: 150px;
      field-sizing: content;
    }
  }
}