@import "../utilities/variables";
footer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: $whiteColor;
    background-color: #26282c; 
    .contieneRedes2{
        padding-left: 10px;
    }   
    img{
        width: 30px;
    }
}

/* .footer-line {
    margin: 0 auto 20px auto;
    width: 115rem;
    height: 1px;
    background-color: $greyColor;
} */