@import "../utilities/variables";

header {
    font-size: 15px;
    font-weight: 500;

    .custom-tittle {
        font-size: 50px;
        text-decoration: none;
        color: $blackColor;
    }

    .custom-style {
        a {
            color: $whiteColor;
            text-decoration: none;
        }

        background-color: $blackColor;
        border-color: $blackColor;

        &:hover {
            background-color: $greyColor;
            border-color: $greyColor;
        }
    }

    .navbar-toggler {
  border: 0;

  &:focus,
  &:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 15% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 5% 10%;
  }

  &.collapsed {
    .top-bar {
      transform: rotate(0deg);
    }

    .middle-bar {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .bottom-bar {
      transform: rotate(0deg);
    }

    .toggler-icon {
      background-color: $blackColor;
    }
  }
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: $blackColor;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

}