@use "../utilities/variables" as v;

header {
    font-size: 15px;
    font-weight: 500;

    .custom-tittle {
        font-size: 50px;
        text-decoration: none;
        color: v.$blackColor;
    }

    .custom-style {
        a {
            color: v.$whiteColor;
            text-decoration: none;
        }

        background-color: v.$blackColor;
        border-color: v.$blackColor;

        &:hover {
            background-color: v.$greyColor;
            border-color: v.$greyColor;
        }
    }



.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: v.$blackColor;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

}