@use "../utilities/mixins";
@use "../utilities/variables" as v;


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }


    to {
        opacity: 1;
        scale: 100%;
    }
}

.sectionHistoria {  
      @include mixins.flex-column(column);
    max-width: 50%;
    margin-right: auto;
    margin-left: 400px;
    padding-bottom: 10rem;

    h1 {
        font-weight: v.$fontBold;
        padding-top: 40px;
    }

    h2 {
        padding-top: 30px;
    }

    p {
        margin-block: 1lh;
    }

    img {
        max-width: 100%;
        border-radius: 5px;
        view-timeline-name: --image;
        view-timeline-axis: block;


        animation-timeline: --image;
        animation-name: show;


        animation-range: entry 25% cover 50%;
        animation-fill-mode: both;
    }

    .origenesBariloche {
        img {
            max-width: 100%; 
        }
    }
}

