@use "../utilities/mixins";
@use "../utilities/variables" as v;

.sectionLugares {
    height: 250px;
    margin-bottom: 50px;
    position: relative;
    @include mixins.flex-column(column);
    justify-content: center;
    text-align: center;
    color: v.$whiteColor;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../Imagenes/lugares/fondoLugares-3.png);
        @include mixins.background(no-repeat, cover, center);
        filter: brightness(0.5);
        z-index: 0;
    }

    .datosLugares {
        position: relative;
        z-index: 1;
        text-shadow: 1px 1px 5px v.$blackColor;
    }
}

.sectionCarrusel {
    display: flex;
    width: 800px;
    height: 530px;
    margin: 0 auto;


    img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        transition: 0.5s ease;
        aspect-ratio: 3 / 4;

        &:hover {
            width: 300px;
            opacity: 1;
            filter: contrast(120%);
        }
    }
}

.sectionVideoLugares {
    @include mixins.flex-column(column);
    align-items: center;
    justify-content: center;
    height: 100dvh;

    h2 {
        font-weight: 800;
        padding-bottom: 20px;
    }

    iframe {
        width: 100%;
        height: 100%;
        max-width: 800px;
        max-height: 450px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
}


.cardLugares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;

    .mi-card {
        background-color: #fff;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        width: 450px; 
        max-width: 100%; // no excede el contenedor

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }

        .card-content {
            padding: 1rem;
            text-align: center;

            h3 {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
                color: #333;
            }

            p {
                font-size: 1rem;
                color: #666;
                line-height: 1.4;
            }
        }
    }
}