@import "../utilities/variables";
@import "../utilities/mixins";



@media (max-width: 1300px) {
  .infoPersonal {
    padding: 0 1rem;
  }
}

@media (max-width: 1200px) {
  .textActividadesInicio {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 850px) and (max-width: 1200px) {
  .sectionGastronomia {
    img {
      max-width: 450px;
      height: min-content;
    }
  }
}

@media (max-width: 1000px) {
  .infoContacto {
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 400px;
    }
  }

  .redesSociales {
    ul {
      justify-content: center;
      padding-bottom: 3rem;
    }
  }
}

@media (max-width: 950px) {
  .sectionFondoGastronomia {
    .fondo-gastronomia {
      font-size: $size-tittle-gastronomia;
    }
  }

  .sectionHistoria {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .formNombreCompleto {
    input {
      width: 100%;
    }

    display: flex;
    flex-direction: column;
  }

  .sectionFormulario {
    form {
      width: 100%;
      padding: 0 1rem;
    }
  }
}

@media (max-width: 850px) {
  .sectionCarrusel {
    flex-direction: column;
    width: 100%;
    height: auto;

    img {
      width: 100%;
      flex-grow: unset;
      opacity: 1;
      filter: none;
      transition: none;
      margin-bottom: 10px;

      &:hover {
        width: 100%;
        filter: none;
        opacity: 1;
      }
    }
  }
}

@media (min-width: 750px) and (max-width: 850px) {
  .sectionGastronomia {
    img {
      max-width: 350px;
      height: min-content;
    }
  }
}

@media (max-width: 800px) {
  .imgActividadesInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionVideoLugares {
    padding: 0 1rem;
  }
}

@media (max-width: 750px) {
  .sectionGastronomia {
    >div {
      display: flex;
      flex-direction: column;
    }

    img {
      margin: 0 auto;
    }
  }
}

@media (max-width: 700px) {
  .sectionInicio {
    h1 {
      font-size: 50px;
    }
  }

  .sectionFondoGastronomia {
    .fondo-gastronomia {
      font-size: 45px;
    }
  }

  .sectionHistoria {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 550px) {
  .sectionInicio {
    h1 {
      font-size: 40px;
    }

    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: none; */
  }
}

@media (max-width: 450px) {
  .sectionInicio {
    h1 {
      font-size: 35px;
      background-color: red;
    }
  }

  .sectionFondoGastronomia {
    h1 {
      text-align: center;
    }
  }
}



@media (max-height: 650px) {
  .sectionFormulario {
    h2 {
      padding-top: 7rem;
    }
  }
}















