@import "../utilities/variables";
@import "../utilities/mixins";



@media (max-width: 1300px) {
  .infoPersonal {
    padding: 0 1rem;
  }
}

@media (max-width: 1200px) {
  .textActividadesInicio {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 850px) and (max-width: 1200px) {
  .sectionGastronomia {
    img {
      max-width: 450px;
      height: min-content;
    }
  }
}

@media (max-width: 1000px) {
  .infoContacto {
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      max-width: 400px;
    }
  }

  .redesSociales {
    ul {
      justify-content: center;
      padding-bottom: 3rem;
    }
  }
}

@media (max-width: 950px) {
  .sectionFondoGastronomia {
    .h1-gastronomia {
      font-size: 50px;
    }
  }

  main {
    .sectionHistoria {
      margin: 0 auto;
    }
  }

}

@media (max-width: 900px) {

  .sectionGastronomia {
    >div {
      img {
        max-width: 350px;
        height: min-content;
      }
    }
  }

  .formNombreCompleto {
    display: flex;
    flex-direction: column;

    .formNombre {
      .form-nombre {
        width: 100%;
      }


    }

    .formApellido {
      .form-nombre {
        width: 100%;
      }

    }

  }
}

.sectionFormulario {
  form {
    width: 100%;
    padding: 0 1rem;
  }
}


@media (max-width: 850px) {
  main {
    .sectionCarrusel {
      flex-direction: column;
      width: 100%;
      height: 100%;

      .img-carrusel {
        width: 100%;
        flex-grow: 0;
        opacity: 1;
        filter: none;
        transition: none;


        &:hover {
          width: 100%;
          filter: none;
          opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 750px) and (max-width: 850px) {
  .sectionGastronomia {
    img {
      max-width: 350px;
      height: min-content;
    }
  }
}

@media (max-width: 800px) {
  .imgActividadesInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sectionVideoLugares {
    padding: 0 1rem;
  }
}

@media (max-width: 750px) {
  .sectionGastronomia {
    >div {
      display: flex;
      flex-direction: column;
    }

    img {
      margin: 0 auto;
    }
  }
}

@media (max-width: 700px) {
  .sectionInicio {
    .h1-responsive {
      font-size: 50px;
    }
  }

  .sectionFondoGastronomia {
    .h1-gastronomia {
      font-size: 45px;
      text-align: center;
    }
  }

  main {


    .sectionHistoria {
      max-width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;

     
    }

  }

}

@media (max-width: 550px) {
  .sectionInicio {
    .h1-responsive {
      font-size: 40px;
    }


  }
}

@media (max-width: 450px) {
  .sectionInicio {
    .h1-responsive {
      font-size: 35px;
    }
  }

}


/* Alura */
@media (max-height: 650px) {
  .sectionFormulario {
    h2 {
      padding-top: 7rem;
    }
  }
}