@use "../utilities/variables" as v;

%button {
    background-color: v.$blackColor;
    color: v.$whiteColor;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
