@mixin background($repeat,$size,$position){
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin flex-column ($direction) {
    display: flex;
    flex-direction: $direction;
}